* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.banner {
    background-image: url(../media/background__banner.png);
    padding: 36px 0 120px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #252B49;
        opacity: 0.8;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}