$hederBorderColor: #babbc5;
$hederBorderColorTransparent: transparent;
$hederActiveColor: #E71414;
$textColorWhite: #FFFFFF;
$textColorBlack: #000000;
$backgroundColorButton: #FF4343;
$backgroundColorButtonHover: #E71414;
$titleColorTitle: #2D3033;
$titleColorText: #6C7279;
$colorTransparent: transparent;
$projectsHoverBackgorundColor: rgba(255, 67, 67, 0.8);
$projectActiveBacgroundColor: #B90C0C;
$staffSubtitleColor: #FF4343;
$sliderBackgroundColor: #5C3249;
$footerBackgroundColor: #353C65;
$footerBackgroundCoperight: #2C3154;
$footerColorTextCoperight: #808080;
$messengerHoverColor: #823bd3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@mixin messengers {
    display: flex;
    column-gap: 6px;
}

@mixin messenger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 39px;


    @media (max-width: 1024px) {
        height: 32px;
        width: 32px;
    }
}

@keyframes headerAnimation {
    0% {
        color: $textColorWhite;
    }

    50% {
        color: #9673d8;
        border-bottom: 2px solid #9673d8;
    }

    100% {
        color: #dfb3d9;
        border-bottom: 2px solid #dfb3d9;
    }
}


@keyframes projectHoverMove {
    0% {
        transform: translateX(-16px);
    }

    16% {
        transform: translateX(32px);
    }

    33% {
        transform: translateX(-8px);
    }

    50% {
        transform: translateX(16px);
    }

    64% {
        transform: translateX(-4px);
    }

    83% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes projectActiveMove {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: translateZ(1);
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;

    @media (max-width:767px) {
        padding: 0 20px;
    }
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $hederBorderColor;


        @media (max-width: 767px) {
            border-bottom: none;
        }
    }


    &__wrap {
        display: flex;

        &-active {
            display: none;
        }

        @media (max-width: 767px) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px 0 20px;
            column-gap: 20px;
        }

    }

    &__burger-close {
        display: none;
    }

    &__burger {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__burger-active {
        display: none;


        @media (max-width: 767px) {
            display: block;
        }
    }

    &__nav {
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__wrap-img {
        pointer-events: none;
    }

    &__item {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        animation: headerAnimation 0.4s;

    }

    &__link {
        display: inline-block;
        padding: 43px 10px;
        min-width: 134px;
        text-align: center;
        text-decoration: none;
        border-bottom: 2px solid $hederBorderColorTransparent;
        color: $textColorWhite;



        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
            padding: 45px 8px;
            min-width: 112px;
        }

        &:hover {
            border-bottom: 2px solid $hederBorderColor;
            animation: headerAnimation 0.4s;
            animation-fill-mode: forwards;
        }

        &:active {
            color: $hederActiveColor;
            border-bottom: 2px solid $hederActiveColor;
            animation-fill-mode: none;
        }

    }

}

.active {
    .header {
        position: relative;
        background-color: #000000;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__burger-close {
        @media (max-width: 767px) {
            display: block
        }
    }

    .header__burger {
        display: none;
    }

    .header__wrap-active {
        @media (max-width: 767px) {
            display: block
        }
    }

    .header__list-active {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }


    .header__link-active {
        color: $textColorWhite;
        text-decoration: none;
        font-size: 30px;

        &:hover {
            border-bottom: 2px solid $hederBorderColor;
            animation: headerAnimation 0.4s;
            animation-fill-mode: forwards;
        }
    }


}

.banner {
    background-image: url(../media/background__banner.png);
    padding: 244px 0 120px;
    background-size: cover;
    background-position: center;
    position: relative;

    @media (max-width:767px) {
        padding-bottom: 52px;
        padding-top: 114px
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #252B49;
        opacity: 0.8;
    }


    &__title {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-transform: uppercase;
        color: $textColorWhite;
        text-align: center;
        margin-bottom: 31px;

        @media (max-width:1024px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 61px;
        }

        @media (max-width:767px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 32px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $textColorWhite;
        margin-bottom: 80px;

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 89px;
        }

        @media (max-width:767px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }
    }

    &__button {
        max-width: 369px;
        width: 100%;
        color: $textColorWhite;
        background-color: $backgroundColorButton;
        border: none;
        margin: 0 auto;
        padding: 29px;
        display: block;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s linear, box-shadow 0.2s linear;


        &:hover {
            background-color: $backgroundColorButtonHover;
            transition: background-color 0.3s linear;
        }

        &:active {
            background-color: $backgroundColorButton;
            box-shadow: 4px 4px 30px #FF4343;
            transition: background-color 0.3s linear, box-shadow 0.2s linear;
        }

        @media (max-width:1024px) {
            max-width: 314px;
        }

        @media (max-width:767px) {
            max-width: 279px;
            padding: 20px;
        }
    }
}

.advantages {
    padding: 116px 0;

    @media (max-width:767px) {
        padding: 40px 0 35px;
    }

    @media (max-width:1024px) {
        padding: 78px 0 80px;
    }


    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 31px;
        row-gap: 89px;

        @media (max-width: 1024px) {
            row-gap: 49px;
        }

        @media (max-width:767px) {
            grid-template-columns: 1fr;
            row-gap: 42px;
        }
    }

    &__article {
        text-align: center;
    }

    &__object {
        margin-bottom: 29px;
        height: 100px;
        width: 100px;

        @media (max-width: 1024px) {
            width: 85px;
            height: 84px;
        }

        @media (max-width: 767px) {
            width: 75px;
            height: 75px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $titleColorTitle;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px
        }
    }

    &__text {
        font-size: 18px;
        line-height: 21px;
        color: $titleColorText;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 114px;

    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media (max-width: 767px) {
        margin-bottom: 35px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__project {
        position: relative;
        transition: all 0.3s linear;
    }

    &__project::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #fff;


        &:hover {
            background-color: $projectsHoverBackgorundColor;
            position: absolute;
            transition: all .3s linear;
            animation: projectHoverMove 0.9s ease;
        }

        &:hover h2,
        &:hover p {
            color: $textColorWhite;
        }

        &:active {
            background-color: $projectActiveBacgroundColor;
            animation: projectActiveMove 3s ease;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $textColorWhite;
        margin-bottom: 50px;
        color: $colorTransparent;
        display: inline-block;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 21px;
        color: $textColorWhite;
        color: $colorTransparent;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
        }
    }
}

.staff {
    margin-bottom: 114px;

    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media (max-width: 767px) {
        margin-bottom: 41px;
    }

    &__wrap {
        display: flex;
        column-gap: 30px;

        @media (max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 50px;
        }
    }


    &__article {
        max-width: calc((100% - 90px) / 4);
        width: 100%;
        display: flex;
        flex-direction: column;

        &:last-of-type {
            @media (max-width: 767px) {
                margin-bottom: 0px;
            }
        }

        @media (max-width: 767px) {
            max-width: 767px;
            width: 100%;
        }

    }

    &__img {
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;


        }

        @media (max-width: 1024px) {
            margin-bottom: 25;
        }

        & img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: $titleColorTitle;
        margin-bottom: 5px;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 5px;
        }

    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $staffSubtitleColor;
        margin-bottom: 18px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22px;
        }

        @media (max-width: 767px) {
            margin-bottom: 38px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 21px;
        color: $titleColorText;
        margin-bottom: 38px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 39px;
        }

        @media (max-width: 767px) {
            margin-bottom: 55px;
        }
    }

    &__messengers {
        margin: auto 0 0 0;
        @include messengers();
    }

    &__link {
        transition: all 0.3s linear;
        border: 1px solid #C6CBCD;
        @include messenger();

        &:hover {
            border: 1px solid $messengerHoverColor;
            transition: all 0.3s linear;
        }

        &:active {
            border: 1px solid $projectActiveBacgroundColor;
            transition: all 0.3s linear;
        }
    }

    &__link:hover path {
        fill: $messengerHoverColor;
        transition: all 0.3s linear;
        animation-fill-mode: forwards;
    }

    &__link:active path {
        fill: $projectActiveBacgroundColor;
        transition: all 0.3s linear;
        animation-fill-mode: forwards;
    }
}

.slider {

    &__wrap {
        display: flex;

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__img-wrap {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img-large {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__img-medium {
        display: none;

        @media (min-width: 768px) and (max-width: 1024px) {
            display: block;
        }
    }

    &__img-small {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__text-wrap {
        width: 50%;
        padding: 143px 170px 143px 129px;
        background-color: $sliderBackgroundColor;
        align-self: center;

        @media (max-width: 1024px) {
            padding: 68px 104px 115px 88px;
        }

        @media (max-width: 767px) {
            width: 100%;
            padding: 30px 25px 100px 20px;
            text-align: center;
        }
    }

    &__title {
        font-family: 'Cardo';
        font-style: italic;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        color: $textColorWhite;
        margin-bottom: 40px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 28px;
        }

    }

    &__text {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $textColorWhite;

        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
        }

    }
}

.swiper {

    &-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        position: static;
        margin-top: 30px;

    }

    &-pagination-bullet {
        background-color: #fff;
        border: 1px solid $sliderBackgroundColor;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
        opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);

        @media (max-width: 1024px) {
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9.5px));
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9.5px));
        }

        @media (max-width: 767px) {
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9.5px));
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9.5px));
        }
    }

    &-pagination-bullet-active {
        background-color: $sliderBackgroundColor;
    }
}

.download {
    padding: 114px 0;
    text-align: center;

    @media (max-width: 1024px) {
        padding: 78px 0;
    }

    @media (max-width: 767px) {
        padding: 60px 0 45px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $textColorBlack;
        margin-bottom: 28px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 43px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
        }
    }


    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $textColorBlack;
        margin-bottom: 47px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 43px;
        }
    }

    @media (max-width: 767px) {
        font-size: 13px;
        line-height: 15px;
    }


    &__button {
        background-color: $backgroundColorButton;
        color: $textColorWhite;
        border: none;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        max-width: 370px;
        width: 100%;
        padding: 26px;
        margin: 0 auto;
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.3s linear, box-shadow 0.2s linear;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            max-width: 314px;
            padding: 29px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
            max-width: 369px;
            padding: 28px;
        }

        &:hover {
            background-color: $backgroundColorButtonHover;
            transition: background-color 0.3s linear;
        }

        &:active {
            background-color: $backgroundColorButton;
            box-shadow: 4px 4px 30px #FF4343;
            transition: background-color 0.3s linear, box-shadow 0.2s linear;
        }
    }
}

.footer {
    background-color: $footerBackgroundColor;
    text-align: center;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 71px 15px;

        @media (max-width: 1024px) {
            padding: 41px 0;
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 34px;
            padding: 33px 0;
        }
    }

    &__block {
        width: calc(100% / 3);

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $textColorWhite;
        margin-bottom: 29px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }

        &-center {
            margin-bottom: 48px;

            @media (max-width: 767px) {
                margin-bottom: 36px;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $textColorWhite;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__messengers {
        @include messengers();
        column-gap: 27px;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 1024px) {
            column-gap: 23px;
        }

        @media (max-width: 767px) {
            column-gap: 17px;
        }
    }

    &__link {
        @include messenger();
        transition: fill 0.3s linear;
        border: 1px solid #C6CBCD;

        &:hover {
            border: 1px solid #d16060;
            transition: all 0.3s linear;
        }

        &:active {
            border: 1px solid #160b0b;
            transition: all 0.3s linear;
        }
    }

    &__link:hover path {
        fill: #d16060;
        transition: fill 0.3s linear;
        animation-fill-mode: forwards;
    }

    &__link:active path {
        fill: #160b0b;
        transition: fill 0.3s linear;
        animation-fill-mode: forwards;
    }


    &__wrap {
        background-color: $footerBackgroundCoperight;
        padding: 24px 0;

        @media (max-width: 767px) {
            padding: 29px 0;
            margin-top: 33px;
        }

    }

    &__copiright {
        max-width: 370px;
        width: 100%;
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $footerColorTextCoperight;
        padding: 0 15px;

        &-span {
            color: $textColorWhite;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
            max-width: 280px;
        }
    }
}