* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

@-webkit-keyframes headerAnimation {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #9673d8;
    border-bottom: 2px solid #9673d8;
  }
  100% {
    color: #dfb3d9;
    border-bottom: 2px solid #dfb3d9;
  }
}

@keyframes headerAnimation {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #9673d8;
    border-bottom: 2px solid #9673d8;
  }
  100% {
    color: #dfb3d9;
    border-bottom: 2px solid #dfb3d9;
  }
}

@-webkit-keyframes projectHoverMove {
  0% {
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
  }
  16% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  33% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateX(16px);
            transform: translateX(16px);
  }
  64% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  83% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes projectHoverMove {
  0% {
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
  }
  16% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  33% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateX(16px);
            transform: translateX(16px);
  }
  64% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  83% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #babbc5;
}

@media (max-width: 767px) {
  .header__container {
    border-bottom: none;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .header__wrap {
    padding: 22px 19px;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__wrap-img {
  pointer-events: none;
}

.header__item {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-animation: headerAnimation 0.4s;
          animation: headerAnimation 0.4s;
}

.header__link {
  display: inline-block;
  padding: 43px 29px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
    line-height: 14px;
    padding: 45px 22px;
  }
}

.header__link:hover {
  border-bottom: 2px solid #babbc5;
  -webkit-animation: headerAnimation 0.4s;
          animation: headerAnimation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__link:active {
  color: #E71414;
  border-bottom: 2px solid #E71414;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.banner {
  background-image: url(../media/background__banner.png);
  padding: 244px 0 120px;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 767px) {
  .banner {
    padding-bottom: 52px;
    padding-top: 114px;
  }
}

.banner::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252B49;
  opacity: 0.8;
}

.banner__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32px;
  }
}

.banner__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89px;
  }
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
}

.banner__button {
  max-width: 369px;
  width: 100%;
  color: #FFFFFF;
  background-color: #FF4343;
  border: none;
  margin: 0 auto;
  padding: 29px;
  display: block;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.banner__button:hover {
  background-color: #E71414;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.banner__button:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

@media (max-width: 1024px) {
  .banner__button {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .banner__button {
    max-width: 279px;
    padding: 20px;
  }
}

.advantages {
  padding: 116px 0;
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0 35px;
  }
}

@media (max-width: 1024px) {
  .advantages {
    padding: 78px 0 80px;
  }
}

@media (max-width: 767px) {
  .advantages__container {
    max-width: 280px;
  }
}

.advantages__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 31px;
          column-gap: 31px;
  row-gap: 89px;
}

@media (max-width: 1024px) {
  .advantages__wrap {
    row-gap: 49px;
  }
}

@media (max-width: 767px) {
  .advantages__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 42px;
  }
}

.advantages__article {
  text-align: center;
}

.advantages__object {
  margin-bottom: 29px;
  height: 100px;
  width: 100px;
}

@media (max-width: 1024px) {
  .advantages__object {
    width: 85px;
    height: 84px;
  }
}

@media (max-width: 767px) {
  .advantages__object {
    width: 75px;
    height: 75px;
  }
}

.advantages__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .advantages__title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .advantages__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.advantages__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}

@media (max-width: 1024px) {
  .advantages__text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .advantages__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .projects {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-bottom: 35px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.projects__project {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.projects__project::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.projects__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #fff;
}

.projects__wrap:hover {
  background-color: rgba(255, 67, 67, 0.8);
  position: absolute;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: projectHoverMove 0.9s ease;
          animation: projectHoverMove 0.9s ease;
}

.projects__wrap:hover h2,
.projects__wrap:hover p {
  color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.projects__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
  color: transparent;
  display: inline-block;
}

@media (max-width: 1024px) {
  .projects__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.projects__text {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  color: transparent;
}

@media (max-width: 1024px) {
  .projects__text {
    font-size: 18px;
    line-height: 21px;
  }
}

.staff {
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .staff {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .staff {
    margin-bottom: 41px;
  }
}

.staff__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 767px) {
  .staff__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}

.staff__article {
  max-width: calc((100% - 90px) / 4);
  width: 100%;
}

@media (max-width: 767px) {
  .staff__article:last-of-type {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .staff__article {
    max-width: 767px;
    width: 100%;
  }
}

.staff__img {
  margin-bottom: 30px;
  position: relative;
}

.staff__img::before {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (max-width: 1024px) {
  .staff__img {
    margin-bottom: 25;
  }
}

.staff__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.staff__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .staff__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
  }
}

.staff__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .staff__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .staff__subtitle {
    margin-bottom: 38px;
  }
}

.staff__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 38px;
}

@media (max-width: 1024px) {
  .staff__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .staff__text {
    margin-bottom: 55px;
  }
}

.staff__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.staff__link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid #C6CBCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 39px;
  width: 39px;
}

@media (max-width: 1024px) {
  .staff__link {
    height: 32px;
    width: 32px;
  }
}

.staff__link:hover {
  border: 1px solid #823bd3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.staff__link:hover path {
  fill: #823bd3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slider__img-wrap {
  width: 50%;
}

@media (max-width: 767px) {
  .slider__img-wrap {
    width: 100%;
  }
}

.slider__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__text-wrap {
  width: 50%;
  padding: 143px 170px 143px 129px;
  background-color: #5C3249;
}

@media (max-width: 1024px) {
  .slider__text-wrap {
    padding: 68px 104px 115px 88px;
  }
}

@media (max-width: 767px) {
  .slider__text-wrap {
    width: 100%;
    padding: 30px 25px 100px 20px;
    text-align: center;
  }
}

.slider__title {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .slider__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 28px;
  }
}

.slider__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .slider__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.download {
  padding: 35px 0px 45px;
  text-align: center;
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 28px;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.download__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 47px;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .download {
    font-size: 13px;
    line-height: 15px;
  }
}

.download__button {
  background-color: #FF4343;
  color: #FFFFFF;
  border: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 370px;
  width: 100%;
  padding: 26px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

@media (max-width: 1024px) {
  .download__button {
    font-size: 18px;
    line-height: 21px;
    max-width: 314px;
    padding: 29px;
  }
}

@media (max-width: 767px) {
  .download__button {
    font-size: 18px;
    line-height: 21px;
    max-width: 369px;
    padding: 28px;
  }
}

.download__button:hover {
  background-color: #E71414;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.download__button:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear;
  transition: background-color 0.3s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.footer {
  background-color: #353C65;
  padding-top: 71px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 34px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 71px;
}

@media (max-width: 1024px) {
  .footer__container {
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 34px;
    margin-bottom: 33px;
  }
}

.footer__block {
  width: calc(100% / 3);
}

@media (max-width: 767px) {
  .footer__block {
    width: 100%;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__title-center {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .footer__title-center {
    margin-bottom: 36px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1024px) {
  .footer__messengers {
    -webkit-column-gap: 23px;
            column-gap: 23px;
  }
}

@media (max-width: 767px) {
  .footer__messengers {
    -webkit-column-gap: 17px;
            column-gap: 17px;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 39px;
  width: 39px;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
  border: 1px solid #C6CBCD;
}

@media (max-width: 1024px) {
  .footer__link {
    height: 32px;
    width: 32px;
  }
}

.footer__link:hover {
  border: 1px solid #823bd3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__link:hover path {
  fill: #823bd3;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.footer__wrap {
  background-color: #2C3154;
  padding: 24px 0;
}

@media (max-width: 767px) {
  .footer__wrap {
    padding: 29px 0;
    margin-top: 33px;
  }
}

.footer__copiright {
  max-width: 370px;
  width: 100%;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #808080;
}

.footer__copiright-span {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .footer__copiright {
    font-size: 14px;
    line-height: 16px;
    max-width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */